@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

:root {
  --primario: #effbff;
  --primarioOscuro: #ccecfd;
  --secundarioOscuro: #00547a;
  --secundario: #0075ac;
  --blanco: #fff;
  --negro: #000;
  --hover: #1397df;
  --headerFijo: rgba(0, 0, 0, 0);
  --headerPegajoso: rgba(236, 236, 236, 0.842);
  --fuentePrincipal: "Montserrat", sans-serif;
  --fuenteSecundaria: "Open Sans", sans-serif;
}

html {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ==================== Globales ==================== */
body {
  font-family: var(--fuentePrincipal);
  background-color: var(--primario);
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
}
p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secundarioOscuro);
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}
h1,
h2,
h3 {
  text-align: center;
  color: var(--negro);
  font-family: var(--fuentePrincipal);
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}

/* ==================== Header ==================== */
header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--headerFijo);
  color: white;
  position: fixed;
  width: 100%;
  transition: 0.5s ease;
  transition-property: height, background;
  z-index: 2;
}
.header__logo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
header.pegajoso {
  height: 5rem;
  background: var(--headerPegajoso);
  backdrop-filter: blur(20px);
  box-shadow: 0 1px 5px #000;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
  }

  header.solido {
    background-color: var(--headerPegajoso);
    backdrop-filter: blur(20px);
    box-shadow: 0 1px 5px #000;
  }

  header.pegajoso {
    height: auto;
  }
}

/* ==================== NavBar ==================== */
.nav {
  margin: 0;
  font-family: var(--fuentePrincipal);
  font-style: bold;
}
.nav li {
  display: inline-block;
  padding: 0rem 2rem;
}
.nav li a {
  color: white;
  transition: all 0.3s ease 0s;
  font-size: 1.7em;
  text-shadow: 1px 2px #000000;
  background-color: transparent;
}
.nav li a:hover {
  color: var(--hover);
}

.nav-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.nav-button .nav-bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .nav-button {
    display: flex;
    margin: 1rem;
  }

  .nav ul {
    display: none;
    flex-direction: column;
    margin: 0;
    text-align: center;
    padding: 0;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .nav-links a {
    padding: 0.5rem 1rem;
  }

  .nav-links.active {
    display: flex;
    padding-bottom: 1em;
  }

  .nav-bar{
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
}


/* ==================== Opacidad ==================== */
.opacidad-1{
  opacity: 1 !important;
}
.opacidad-0{
  opacity: 0;
}


/* ==================== Footer ==================== */
.footer-top {
  background-color: var(--secundarioOscuro);
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  text-align: center;
  padding: 3rem;
}
@media (max-width: 768px) {
  .footer-top {
    background-color: var(--secundarioOscuro);
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    text-align: center;
    padding: 5rem;
  }
}
.footer-top p {
  color: var(--negro);
  text-align: center;
}
.footer-top-element img {
  width: 4.5rem;
  height: 4.5rem;
}
.footer-bottom {
  background-color: var(--hover);
  margin: 0;
  padding: 0.3%;
}
.texto__footer {
  color: var(--negro);
  text-align: center;
}
