<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="../pages/fleet/styles-fleet.css" />
	<link rel="stylesheet" href="../pages/news/styles-news.css" />
	<link rel="stylesheet" href="../pages/contact/styles-contact.css" />
	<link rel="stylesheet" href="../pages/dashboard/styles-dashboard.css" />
	<link rel="stylesheet" href="../styles-global.css" />
	<link rel="stylesheet" href="../pages/users/styles-user.css" />
	<title>Aeroclub Allen</title>
	<link rel="icon" href="../../assets/logo.png" />
</head>

<body class="darkened-clouds">
	<!-- Loading -->
	<div class = "loading-page darkened-clouds">
		<section>
			<div>
			  <svg width="196" id="cloud1" height="134" viewBox="0 0 196 134" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M166.699 133.002H25.9731C17.3185 133.002 8.70916 130.022 5.10191 122.155C-2.7409 105.051 -5.86626 73.8387 28.6402 58.5025C20.1401 44.5025 37.1401 14.5025 62.6401 28.5025C96.1401 -31.4974 190.64 13.5026 169.14 69.0025C201.695 79.2595 201.634 112.586 183.148 128.185C178.648 131.982 172.587 133.002 166.699 133.002Z" fill="#6CABD9" />
			  </svg>
			  <svg width="196" id="cloud2" height="134" viewBox="0 0 196 134" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M166.699 133.002H25.9731C17.3185 133.002 8.70916 130.022 5.10191 122.155C-2.7409 105.051 -5.86626 73.8387 28.6402 58.5025C20.1401 44.5025 37.1401 14.5025 62.6401 28.5025C96.1401 -31.4974 190.64 13.5026 169.14 69.0025C201.695 79.2595 201.634 112.586 183.148 128.185C178.648 131.982 172.587 133.002 166.699 133.002Z" fill="#6CABD9" />
			  </svg>
			  <svg width="196" id="cloud3" height="134" viewBox="0 0 196 134" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M166.699 133.002H25.9731C17.3185 133.002 8.70916 130.022 5.10191 122.155C-2.7409 105.051 -5.86626 73.8387 28.6402 58.5025C20.1401 44.5025 37.1401 14.5025 62.6401 28.5025C96.1401 -31.4974 190.64 13.5026 169.14 69.0025C201.695 79.2595 201.634 112.586 183.148 128.185C178.648 131.982 172.587 133.002 166.699 133.002Z" fill="#6CABD9" />
			  </svg>
			  <svg width="196" id="cloud4" height="134" viewBox="0 0 196 134" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M166.699 133.002H25.9731C17.3185 133.002 8.70916 130.022 5.10191 122.155C-2.7409 105.051 -5.86626 73.8387 28.6402 58.5025C20.1401 44.5025 37.1401 14.5025 62.6401 28.5025C96.1401 -31.4974 190.64 13.5026 169.14 69.0025C201.695 79.2595 201.634 112.586 183.148 128.185C178.648 131.982 172.587 133.002 166.699 133.002Z" fill="#6CABD9" />
			  </svg>
			  <svg width="196" id="cloud5" height="134" viewBox="0 0 196 134" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M166.699 133.002H25.9731C17.3185 133.002 8.70916 130.022 5.10191 122.155C-2.7409 105.051 -5.86626 73.8387 28.6402 58.5025C20.1401 44.5025 37.1401 14.5025 62.6401 28.5025C96.1401 -31.4974 190.64 13.5026 169.14 69.0025C201.695 79.2595 201.634 112.586 183.148 128.185C178.648 131.982 172.587 133.002 166.699 133.002Z" fill="#6CABD9" />
			  </svg>
		  
			  <svg id="plain" width="419" height="272" viewBox="0 0 419 272" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g>
				  <path id="Vector 4" d="M137.725 7.43689L192.428 108.281C193.297 109.883 194.969 110.885 196.792 110.897L289.104 111.474C293.675 111.503 295.885 105.889 292.52 102.794L186.751 5.52626C183.092 2.16084 178.31 0.279099 173.338 0.247999L142.152 0.0529166C138.348 0.0291217 135.912 4.09317 137.725 7.43689Z" fill="#B4B3B4" />
				  <path id="Vector 1" d="M371 84H76.5L131.5 161.5H371C456.2 132.7 406.5 97.8333 371 84Z" fill="#D8D7D8" />
				  <path id="Vector 5" d="M351.62 84H69L125.201 161H366.648C368.77 161 371.042 160.641 373.049 159.952C443.257 135.838 417.842 107.716 386.637 91.4623C375.901 85.8699 363.726 84 351.62 84Z" fill="#E7E6E7" />
				  <path id="Vector 3" d="M37.9082 42.8925L129 161L37.5088 138.115C35.8831 137.709 34.5693 136.515 34.0094 134.935L2.36475 45.6704C1.21111 42.4161 3.62469 38.9997 7.07739 38.9997H29.9898C33.09 38.9997 36.0149 40.4376 37.9082 42.8925Z" fill="#E7E6E7" />
				  <path id="Vector 6" d="M134.094 264.084L191 161H299.5L188.93 261.147C181.574 267.81 172.003 271.5 162.078 271.5H138.471C134.665 271.5 132.255 267.416 134.094 264.084Z" fill="#E7E6E7" />
				  <path id="Vector 2" d="M133.595 264.584L190.5 161.5H299L184.43 265.271C179.649 269.601 173.428 272 166.976 272H137.972C134.165 272 131.755 267.916 133.595 264.584Z" fill="#E7E6E7" />
				  <circle id="Ellipse 1" cx="175.5" cy="121.5" r="11.5" fill="#5B595B" />
				  <circle id="Ellipse 2" cx="245.5" cy="121.5" r="11.5" fill="#5B595B" />
				  <circle id="Ellipse 3" cx="314.5" cy="121.5" r="11.5" fill="#5B595B" />
				</g>
			  </svg>
			</div>
		  </section>
	</div>

	<!--  Modify Self User  -->
	<div class="container-pop-up" id="modify-self-user-form-popup">
		<div class="pop-up">
			<div class="box-shadow border-radius">
				<a href="#"><button class="close-button">Cerrar</button></a>
				<form id="modify-self-user-form">
					<fieldset>
						<legend id="modify-self-user-form-dni"></legend>
						<div class="fields-container">
							<!-- Name -->
							<div class="field">
								<label for="name">Nombre</label>
								<input class="input-text" type="text" name="name" id="modify-self-user-form-name"
									placeholder="Nombre" required />
							</div>

							<!-- Surname -->
							<div class="field">
								<label for="surname">Apellido</label>
								<input class="input-text" type="text" name="surname"
									id="modify-self-user-form-surname" placeholder="Apellido" required />
							</div>

							<!-- Email -->
							<div class="field">
								<label for="email">Email</label>
								<input class="input-text" type="email" name="email" id="modify-self-user-form-email"
									placeholder="Email" required />
							</div>

							<!-- Phone -->
							<div class="field">
								<label for="phone">Telefono</label>
								<input class="input-text" type="text" name="phone" id="modify-self-user-form-phone"
									placeholder="Telefono" required />
							</div>

							<!-- Submit Button -->
							<div class="submit-button">
								<input onclick="" class="boton-sec-oscuro" type="submit" value="Aplicar"
									name="submit" id="submit" />
							</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<!--  Turn Request  -->
	<div class="container-pop-up" id="request-turn-form-popup">
		<div class="pop-up">
			<div class="box-shadow border-radius">
				<a href="#"><button class="close-button">Cerrar</button></a>
				<form id="request-turn-form" class="margin-0">
					<fieldset>
						<div class="fields-container">
							<!-- Date and Time Start -->
							<div class="field">
								<label for="date">Desde:</label>
								<input class="input-text" type="datetime-local" name="date"
									id="request-turn-form-start-date" required />
							</div>

							<!-- Date and Time End -->
							<div class="field">
								<label for="date">Hasta:</label>
								<input class="input-text" type="datetime-local" name="date"
									id="request-turn-form-end-date" required />
							</div>

							<!-- Purpose -->
							<div class="field">
								<label for="purpose">Finalidad:</label>
								<select name="purpose" id="request-turn-form-purpose" required>
									<option hidden disabled selected value>- Seleccionar -</option>
									<option value="instruction">Instruccion</option>
									<option value="navigation">Navegacion</option>
									<option value="local">Vuelo Local</option>
									<option value="readaptation">Readaptacion</option>
									<option value="adaptation">Adaptacion</option>
									<option value="workshop">Taller</option>
									<option value="baptism">Bautismo</option>
								</select>
							</div>

							<!-- Airplane -->
							<div class="field">
								<label for="airplane">Avion</label>
								<select name="airplane" id="request-turn-form-airplane" required>
									<option hidden disabled selected value>- Seleccionar -</option>
								</select>
							</div>

							<!-- Instructor -->
							<div class="field">
								<label for="instructor">Con instructor: <input type="checkbox" name="instructor"
										id="request-turn-form-instructor" /></label>
							</div>

							<!-- Price -->
							<div class="field">
								<label for="price">Precio</label>
								<input type="text" class = "input-text" style="background-color: white;" name="price" id="request-turn-form-price" disabled/>
							</div>

							<!-- Submit Button -->
							<div class="submit-button">
								<input onclick="" class="boton-sec-oscuro" type="submit" value="Enviar"
									name="submit" id="submit" />
							</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<!--  Create User  -->
	<div class="container-pop-up" id="create-user-form-popup">
		<div class="pop-up">
			<div class="box-shadow border-radius">
				<a href="#"><button class="close-button">Cerrar</button></a>
				<form id="create-user-form">
					<fieldset>
						<legend>Agregar Usuario</legend>
						<div class="fields-container">
							<!-- DNI -->
							<div class="field">
								<label for="dni">DNI</label>
								<input class="input-text" type="number" name="dni" id="create-user-form-dni"
									placeholder="DNI" required />
							</div>

							<!-- Role -->
							<div class="field">
								<label for="role">Rol</label>
								<select name="role" id="create-user-form-role" required>
									<option value="admin">Administrador</option>
									<option value="secretary">Secretaria</option>
									<option value="instructor">Instructor</option>
									<option value="editor">Editor</option>
									<option value="pilot">Piloto</option>
									<option value="student">Alumno</option>
								</select>
							</div>

							<!-- Submit Button -->
							<div class="submit-button">
								<input onclick="window.location.href = '#news'" class="boton-sec-oscuro"
									type="submit" value="Agregar" name="submit" id="create-news-form-submit" />
							</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<!--  Modify User  -->
	<div class="container-pop-up" id="modify-user-form-popup">
		<div class="pop-up">
			<div class="box-shadow border-radius">
				<a href="#"><button class="close-button">Cerrar</button></a>
				<form id="modify-user-form">
					<fieldset>
						<legend id="modify-user-form-dni"></legend>
						<div class="fields-container">
							<!-- Name -->
							<div class="field">
								<label for="name">Nombre</label>
								<input class="input-text" type="text" name="name" id="modify-user-form-name"
									placeholder="Nombre" required />
							</div>

							<!-- Surname -->
							<div class="field">
								<label for="surname">Apellido</label>
								<input class="input-text" type="text" name="surname" id="modify-user-form-surname"
									placeholder="Apellido" required />
							</div>

							<!-- Email -->
							<div class="field">
								<label for="email">Email</label>
								<input class="input-text" type="email" name="email" id="modify-user-form-email"
									placeholder="Email" required />
							</div>

							<!-- Phone -->
							<div class="field">
								<label for="phone">Telefono</label>
								<input class="input-text" type="text" name="phone" id="modify-user-form-phone"
									placeholder="Telefono" required />
							</div>

							<!-- Role -->
							<div class="field">
								<label for="role">Rol</label>
								<select name="role" id="modify-user-form-role" required>
									<option value="admin">Administrador</option>
									<option value="secretary">Secretaria</option>
									<option value="instructor">Instructor</option>
									<option value="editor">Editor</option>
									<option value="pilot">Piloto</option>
									<option value="student">Alumno</option>
								</select>
							</div>

							<!-- Submit Button -->
							<div class="submit-button">
								<input onclick="" class="boton-sec-oscuro" type="submit" value="Aplicar"
									name="submit" id="submit" />
							</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<!--  Instructor Aviability Form -->
	<div class="container-pop-up" id="instructor-availability-form-popup">
		<div class="pop-up">
			<div class="box-shadow border-radius">
				<a href="#"><button class="close-button">Cerrar</button></a>
				<form id="instructor-availability-form">
					<fieldset>
						<div class="fields-container">
							<!-- Date and Time Start -->
							<div class="field">
								<label for="start-date">Desde:</label>
								<input class="input-text" type="datetime-local" name="start-date"
									id="instructor-availability-form-start-date" required />
							</div>

							<!-- Date and Time End -->
							<div class="field">
								<label for="end-date">Hasta:</label>
								<input class="input-text" type="datetime-local" name="end-date"
									id="instructor-availability-form-end-date" required />
							</div>

							<!-- Submit Button -->
							<div class="submit-button">
								<input onclick="" class="boton-sec-oscuro" type="submit" value="Enviar"
									name="submit" id="submit" />
							</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<!--  Add Rate -->
	<div class="container-pop-up" id="add-rate-form-popup">
		<div class="pop-up">
			<div class="box-shadow border-radius">
				<a href="#"><button class="close-button">Cerrar</button></a>
				<form id="add-rate-form">
					<fieldset>
						<div class="fields-container">
							<!-- Ariplane -->
							<div class="field">
								<label for="rate">Avion:</label>
								<select name="airplane" id="add-rate-form-airplane" required>
									<option hidden disabled selected value>- Seleccionar -</option>
									<option value="instruction">Instruccion</option>
									<option value="inscription">Inscripcion</option>
									<option value="membership-fee">Cuota Social</option>
									<option value="theory">Teoria</option>
								</select>
							</div>

							<!-- Date Start -->
							<div class="field">
								<label for="start-date">Desde:</label>
								<input class="input-text" type="date" name="start-date"
									id="add-rate-form-start-date" required />
							</div>

							<!-- Rate -->
							<div class="field">
								<label for="rate">Tarifa:</label>
								<input class="input-text" type="number" name="rate"
									id="add-rate-form-rate" required />
							</div>

							<!-- Submit Button -->
							<div class="submit-button">
								<input onclick="" class="boton-sec-oscuro" type="submit" value="Enviar"
									name="submit" id="submit" />
							</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<section id="user">
		<!-- User Card -->
		<section class="user-card-container">
			<div class="user-card" id="user-card">
				<div class="center margin-1">
					<img id="sign-logo" src="../../assets/logo.png" alt="logo" />
				</div>
				<div id="user-card-info"></div>
			</div>
			<div>
				<a href="#modify-self-user-form-popup"> <button class="modify-button">Modificar</button> </a>
			</div>
		</section>

		<!-- Role Options -->
		<section id="role-options">
			<!-- Disable User -->
			<section class="section-for-user" id="disable-user">
				<h2 class="section-title margin-auto">Deshabilitar/Habilitar Socio</h2>
				<form class="margin-auto" id="disable-user-form">
					<fieldset>
						<div class="fields-container">
							<div class="field margin-bottom-0">
								<input class="input-text" type="text" name="toggle-user-enabled"
									id="toggle-user-enabled-dni" placeholder="DNI" required />
							</div>
							<input onclick="" class="gray-button height-fit border-radius" type="submit"
								value="Deshabilitar" name="submit" id="submit" />
						</div>
						</div>
					</fieldset>
				</form>
				<table class="table-user-section">
					<thead>
						<th>DNI</th>
						<th>Nombre</th>
					</thead>
					<tbody id="disabled-users-table">

					</tbody>
				</table>
			</section>

			<!-- Turns Unchecked -->
			<section class="section-for-user" id="unchecked-turns">
				<h2 class = "section-title margin-auto">Revisión Turnos</h2>
				<div class="turns-grid" id="unchecked-turns-grid"></div>
			</section>

			<!-- Instructor Availability -->
			<section class="section-for-user" id="instructor-availability">
				<h2 class="section-title margin-auto" id="instructor-availability-title">Disponibilidad de Instructores
				</h2>
				<table class="table-user-section">
					<thead>
						<th>Instructor</th>
						<th>Fecha Inicio</th>
						<th>Fecha Fin</th>
					</thead>
					<tbody id="instructor-availability-table">

					</tbody>
				</table>
			</section>

			<!-- Instructor Assigned Turns -->
			<section class="section-for-user" id="instructor-assigned-turns">
				<h2 class="section-title margin-auto">Mis Alumnos</h2>
				<div class="turns-grid" id="instructor-assigned-turns-table">
				</div>
			</section>

			<!-- Users -->
			<section class="section-for-user" id="users-section">
				<h2 class="section-title margin-auto"> Usuarios </h2>
				<a href="#create-user-form-popup"><button class="gray-button">Crear Usuario</button></a>
				<!--  Table of Users  -->
				<table class="table-user-section">
					<thead>
						<th>DNI</th>
						<th>Nombre</th>
						<th>Rol Actual</th>
					</thead>
					<tbody id="users-table">

					</tbody>
				</table>
				<!-- Load More Users -->
				<button class="gray-button" id="load-all-users">Mostrar Todos</button>
			</section>

			<!--  Auditlog  -->
			<section class="section-for-user" id="audit-log">
				<h2 class="section-title margin-auto">Registro de Auditoria</h2>
				<table class="table-user-section">
					<thead>
						<th>Fecha</th>
						<th>Descripcion</th>
					</thead>
					<tbody id="auditlog-table">

					</tbody>
				</table>
			</section>
		</section>

		<!-- User Flight Register -->
		<!-- <section class="section-for-user" id="flights-register">
				<h2 class="section-title margin-auto">Ultimos Vuelos</h2>
				<a class="register-button center" href="">
					<button class="gray-button">Registrar Vuelo</button>
				</a>
				<table class="table-user-section">
					<thead>
						<th>Fecha</th>
						<th>Avion</th>
						<th>Duracion</th>
					</thead>
					<tbody id="users-table">
						<tr>
							<td>06/12/2020</td>
							<td>LF-FVA</td>
							<td>1,2hs</td>
							<td>
								<a><button>Ver Mas</button></a>
							</td>
						</tr>
					</tbody>
				</table>
			</section> -->

		<!-- Rates -->
		<section class="section-for-user" id="rates">
			<h2 class="section-title margin-auto">Tarifas</h2>
			<a class="center" href="#add-rate-form-popup" id = "add-rate">
				<button class="gray-button">Agregar Tarifa</button>
			</a>
			<div class = "table-card">
				<h2 class = "margin-auto">Vigentes</h2>
				<table class="table-user-section">
					<thead>
						<tr>
							<th>Avion</th>
							<th>Desde</th>
							<th>Precio ($/hs)</th>
						</tr>
					</thead>
					<tbody id="rates-table">
					</tbody>
				</table>
			</div>
			<div class = "table-card" id = "future-rates">
				<h2 class = "margin-auto">Futuras</h2>
				<table class="table-user-section">
					<thead>
						<th>Avion</th>
						<th>Desde</th>
						<th>Precio ($/hs)</th>
					</thead>
					<tbody id="future-rates-table">
					</tbody>
				</table>
			</div>
		</section>

		<!-- My Turns -->
		<section class="section-for-user" id="airplane-turns">
			<h2 class="section-title margin-auto">Mis Turnos</h2>
			<a class="register-button center" href="#request-turn-form-popup">
				<button class="gray-button">Agendar Turno</button>
			</a>
			<div class="turns-grid" id="my-turns-table">
			</div>
		</section>

		<!-- Visual All Turns -->
		<section class="section-for-user" id="all-turns-calendar">
			<h2 class="section-title margin-auto">Turnos</h2>
			<div id="date-selection-all-turns-div">
				<input class="input-text" type="date" name="date" id="all-turns-date-input" required />
			</div>
			<div id="table-turns">
				<div id="table-turns-hours">
					<p>Horas</p>
				</div>
			</div>
		</section>

		<!-- Visual All Instructors -->
		<section class="section-for-user" id="all-instructors-calendar">
			<h2 class="section-title margin-auto">Instructores</h2>
			<div id="date-selection-all-instructors-div">
				<input class="input-text" type="date" name="date" id="all-instructors-date-input" required />
			</div>
			<div id="table-instructors">
				<div id="table-instructors-hours">
					<p>Horas</p>
				</div>
			</div>
		</section>
	</section>

	<footer>
		<div class = "developer">
			<p>Desarrollado y mantenido por <a target="_blank" href = "https://github.com/Mafetri">Manuel Triñanes</a></p>
		</div>
		<div class = "mobile-bar">
			<a href = "#request-turn-form-popup">
				<div class = "mobile-bar-container">
					<img src="../../assets/icons/book-turn.png" alt="Agendar Turno" />
					<p>Turno</p>
				</div>
			</a>
	
			<a id = "mobile-bar-container-role">
				<div class = "mobile-bar-container">
					<img id="" src="../../assets/icons/role.png" alt="Opciones de Rol" />
					<p>Opciones</p>
	
				</div>
			</a>
	
			<a href = "/dashboard" id = "mobile-bar-container-dashboard">
				<div class = "mobile-bar-container">
					<img id="mobile-bar-dashboard" src="../../assets/icons/dashboard.png" alt="Dashboard" />
					<p>Dashboard</p>
				</div>
			</a>
	
	
			<a href = "/logout">
				<div class = "mobile-bar-container">
					<img src="../../assets/icons/logout.png" alt="Desconectarse" />
					<p>Logout</p>
				</div>
			</a>
		</div>

		
	</footer>
	

	<script type="module" src="../pages/users/main-user.js"></script>
</body>

</html>