<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles-global.css" />
    <link rel="stylesheet" href="../pages/dashboard/styles-dashboard.css" />
    <title>Aeroclub Allen</title>
    <link rel="icon" href="../../assets/logo.png" />
</head>

<body class = "darkened-clouds">
    <div class = "data-input">
        <h1 class = "section-title">Ingreso</h1>
        <form action = "/signin" method="POST" class = "sign-form">
            <fieldset>
                <div class = "center">
                    <img id = "sign-logo" src="../../assets/logo.png" alt="logo" />
                </div>
                <div class = "fields-container">
                    <!-- DNI -->
                    <div class = "field">
                        <label for="dni">DNI</label>
                        <input type="text" name="dni" placeholder="DNI" class="form-control" required> 
                    </div>

                    <!-- Password -->
                    <div class = "field">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" placeholder="Contraseña" class="form-control">
                    </div>

                    <!-- Submit Button -->
                    <div class="submit-button">
                        <input class="boton-sec-oscuro" type="submit" value="Ingresar" name="submit"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</body>
