<style type="text/css">
	@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

	footer {
		display: flex;
		justify-content: center;
		flex-direction: column;
		background-color: rgba(207, 207, 207, 0.3);
		background-image: url("../../assets/nubes.jpg");
		background-size: auto;
		background-attachment: fixed;
		background-position: center;
		background-blend-mode: soft-light;
		max-width: 50em;
		width: 100%;
		margin: auto;
	}

	.footer-top {
		margin: 0;
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		text-align: center;
		padding: 2em;
	}
	.footer-top p {
		color: var(--negro);
		text-align: center;
	}
	.footer-top-element img {
		width: 2em;
		height: auto;
		aspect-ratio: 1/1;
	}
	.footer-bottom {
		background-color: #d8d8d8;
		margin: 0;
		padding: 0.2em;
	}
	.footer-bottom h3 {
		color: black;
		font-size: 1em;
		margin: auto;
		margin-left: 1em;
		font-family: "Montserrat", sans-serif;
		text-align: center;
	}
	.footer-bottom a {
		margin: 0;
		color: black;
	}
	.footer-bottom a:hover {
		color: white;
	}
</style>

<footer>
	<div>
		<div class="footer-top">
			<a href="https://goo.gl/maps/xn1RdRnpR3BMAEJf7">
				<!-- Ubicacion -->
				<div class="footer-top-element">
					<img src="https://cdn-icons-png.flaticon.com/512/2838/2838912.png" alt="imagen-ubicacion" />
				</div>
			</a>
	
			<!-- Whatsapp -->
			<a href="https://api.whatsapp.com/send/?phone=5492984509555&text&type=phone_number&app_absent=0" target="_blank">
				<div class="footer-top-element">
					<img src="../../assets/icons/footer/whatsapp.png" alt="imagen-whatsapp" />
				</div>
			</a>
	
			<!-- Mail -->
			<a href="mailto:allenaeroclub@gmail.com" target="_blank">
				<div class="footer-top-element">
					<img src="https://cdn-icons-png.flaticon.com/512/646/646094.png" alt="imagen-mail" />
				</div>
			</a>
	
			<!--Facebook-->
			<a href="https://www.facebook.com/aerocluballen/" target="_blank" class="footer-top-element">
				<img src="../../assets/icons/footer/facebook.png" alt="imagen-twiter" />
			</a>
	
			<!--Instagram-->
			<a href="https://www.instagram.com/aerocluballen/?hl=es" target="_blank" class="footer-top-element">
				<img src="../../assets/icons/footer/instagram.png" alt="imagen-facebook" />
			</a>
	
			<!--Twitter-->
			<a href="https://twitter.com/aerocluballen?lang=es" target="_blank" class="footer-top-element">
				<img src="../../assets/icons/footer/twitter.png" alt="imagen-instagram" />
			</a>
		</div>
		<div class="footer-bottom">
			<h3>
				Aeroclub Allen - Todos los derechos reservados 2023 | Desarrollado por
				<a href="https://github.com/Mafetri"> Manuel Triñanes </a>
			</h3>
		</div>
	</div>
</footer>
