h1, h2, h3, p {
	font-family: var(--usersFont) !important;
	font-weight: 400;
}

section {
	margin: 1em;
}

#user {
	margin: 1em;
	padding-top: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
}
.user-card-container {
	box-shadow: var(--shadow);
	border-radius: var(--radius);
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin: auto;
}
.user-card {
	width: fit-content;
	display: flex;
	background-color: rgb(245, 241, 243);
	border-radius: var(--radius) var(--radius) 0 0;
	padding: 1.5em;
	margin: auto;
}
#user-card-info {
	display: flex;
	flex-direction: column;
	justify-content: start;
}
#user-card-info h2 {
	text-align: left;
	margin: 0;
	color: var(--secundarioOscuro);
	font-size: 1.5em;
}

.user-card img {
	border-radius: 100%;
	height: auto;
	width: 10em;
	box-shadow: var(--shadow);
	margin-right: 3em;
	aspect-ratio: 1/1;
}

@media (max-width: 768px) {
	.modify-button {
		font-size: 1em;
	}
	.user-card {
		flex-direction: column;
	}
	#user-card-info h2 {
		font-size: 1em;
	}
	.user-card img {
		margin-bottom: 1em;
		margin-right: 0;
	}
}

.user-card-container .modify-button{
	border-radius: 0 0 var(--radius) var(--radius);
    width: 100%;
    box-shadow: none;
}

/* ======== Register Button ======== */
.register-button {
	margin: auto;
	width: 100%;
	box-shadow: none;
}

/* ======== Table Section ======== */
.table-user-section {
	width: auto !important;
}
.section-for-user {
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	margin: 1em auto;
	width: 60%;
	background-color: rgb(245, 241, 243);
    padding-bottom: 0.2em;
}
.section-title {
	width: 100%;
    border-radius: var(--radius) var(--radius) 0 0;
    box-shadow: none;
}
.section-for-user table {
	font-size: 1.3em;
}
@media (max-width: 768px) {
	.section-for-user {
		width: 100%;
	}
}

/* Role Options */
#role-options {
	display: none;
	opacity: 0;
	transition: all ease 1s;
}
#role-options.show {
	display: block;
	opacity: 1;
}

#disable-user-form {
	border-radius: var(--radius);
}
#disable-user-form fieldset{
	padding: 0.5em;
}
#disable-user-form div div input{
	height: 100%;
}

/* Users */
.pop-up select {
	padding: 1em;
	width: 20em;
	border-radius: var(--radius);
	font-family: var(--funtePrincipal);
}
.user-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.user-buttons .delete-button {
	border-radius: var(--radius) 0 0 var(--radius);
	font-size: 1em;
}
.user-buttons .modify-button {
	border-radius: 0 var(--radius) var(--radius) 0;
	font-size: 1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.table-user-section {
	width: 60%;
	margin: 0.5em auto;
	font-size: 1.5em;
	border: 1px solid black;
	border-radius: var(--radius);
	background-color: var(--secundarioOscuro);
}
.table-user-section td,
th {
	padding: 0.2em 1em;
	color: white;
}
.table-user-sectionrid tr {
	border: 2px solid black;
}
@media (max-width: 768px) {
	.table-user-section tbody tr td, th{
		font-size: 0.7em;
	}
}

/* Gray Button  */
.gray-button {
    background-color: var(--gris);
	color: var(--secundarioOscuro);
	border-radius: 0;
	box-shadow: none;
	font-family: var(--fuentePrincipal);
	cursor: pointer;
	padding: 10px 20px;
	text-align: center;
	transition: 0.5s;
	border-color: transparent;
    width: 100%;
	font-weight: 400;
    font-size: 1.2em;
}
.gray-button:hover {
	background-color: var(--grisOscuro) !important;
}
@media (max-width: 768px) {
	.gray-button {
		font-size: 0.8em;
		width: 100%;
		min-height: 3em;
	}
}

#unchecked-turns-grid .delete-button {
	width: 50%;
	border-radius: 0 0 var(--radius) 0;
}

#unchecked-turns-grid .ok-button {
	width: 50%;
	border-radius: 0 0 0 var(--radius);
	padding: 0.2em;
}


#disable-user-form {
	margin-top: 0.5em !important;
	box-shadow: none !important;
}

#table-turns, #table-instructors{
	display: flex; 
	justify-content: space-between;
	padding: 0em 1em;
	overflow-x: scroll;
	white-space: nowrap;
	gap: 1em;
}
#table-instructors {
	justify-content: space-evenly;
}
#table-turns p, #table-instructors p {
	padding-bottom: 0.2em;
	font-size: 1.5em;
	font-weight: 400;
}

.table-header-title {
	border-bottom: 1px dashed var(--secundarioOscuro);
}

#hour-box {
	border-bottom: 1px dashed var(--secundarioOscuro);
	color: var(--secundarioOscuro);
	font-size: 1.2em;
	margin-right: 1em;
}

#turn-box, #instructor-turn-box{
	background-color: var(--secundarioOscuro); 
	color: white;
	padding: 0.3em;
	border-radius: var(--radius);
	white-space: pre;
}

#instructor-box {
	background-color: rgb(76, 9, 114); 
	color: white;
	padding: 0.3em;
	border-radius: var(--radius);
}

#date-selection-all-turns-div, #date-selection-all-instructors-div {
	display: flex;
	justify-content: center;
	background-color: var(--gris);
	padding: 0.5em;
}
#date-selection-all-turns-div .boton-sec-oscuro, #date-selection-all-instructors-div .boton-sec-oscuro{
	width: 10em;
	margin: auto 1em;
	box-shadow: none;
}
#all-turns-date-input, #all-instructors-date-input{
	padding: 1em;
	width: 20%;
}

#instrcutor-div {
	display: flex;
	gap: 1em;
}

/* My Turns */
.turns-grid {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	padding: 0.5em;
	overflow: auto;
	white-space: nowrap;
	justify-content: start;
}
.turns-grid h3 {
	text-align: center;
    width: 100%;
    color: var(--secundarioOscuro);
    font-weight: 200;
	font-size: 1.5em;
}

.turns-grid-card .ok-button{
	background-color: rgb(245, 241, 243);
	color: white;
}
.turns-grid-card .delete-button{
	font-size: 1em;
	padding: 0.2em;
	border-radius: 0 0 var(--radius) var(--radius);
	background-color: rgb(245, 241, 243);
}
.turns-grid-card .delete-button:hover {
	background-color: rgb(160, 17, 17);
	color: white;
}

.turns-grid-card {
	display: flex;  
	flex-direction: column;
	justify-content: center;
	border-radius: var(--radius);
	box-shadow:   0 1px 5px #000;
}
.turns-grid-card-info {
	display: flex;  
	flex-direction: column;
	justify-content: flex-start;
	gap: 0.2em;
	background-color: white;
	min-width: 12em;
	text-align: center;
	border-radius: var(--radius);
	padding-top: 0.7em;
	height: 100%;
}
.turns-grid-card-info p, h2{
	margin: 0;
	font-size: 1em;
	color: var(--secundarioOscuro);
}
.turns-grid-card-info p{
	margin-bottom: 0.5em;
}
.turns-grid-card-info h2{
	font-weight: 500;
	line-height: 10px;
}


#request-turn-form fieldset div .field:nth-child(3),
#request-turn-form fieldset div .field:nth-child(4) {
	grid-column: auto;
}


.table-card {
	width: fit-content;
	margin: auto;
	margin-top: 1em;
}
.table-card h2 {
	background-color: white;
	color: var(--secundarioOscuro);
	border-radius: var(--radius) var(--radius) 0 0;
	font-size: 1.3em;
	border-style: solid solid none solid;
	border-width: 1px;
	border-color: black;
}
.table-card table{
	border-radius: 0 0 var(--radius) var(--radius);
	margin-top: 0;
}

footer {
	position: sticky;
	bottom: 0;
	display: flex;
	flex-direction: column;
	box-shadow: var(--shadow);
	background-color: rgb(245, 241, 243);
	justify-content: center;
	z-index: 3;
}
.developer p {
	text-align: center;
	color: var(--gris);
	background-color: var(--grisOscuro);
}
.developer a  {
	color: white;
}
.mobile-bar{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding: 0.5em;
	gap: 1em;
}
.mobile-bar-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.mobile-bar-container p{
	color: black;
	text-align: center;
}
.mobile-bar-container img{
	height: 2em;
	width: auto;
	aspect-ratio: 1/1;
}