section {
	margin: 1em;
}

#user {
	padding-top: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
}
.user-card-container {
	box-shadow: var(--shadow);
	border-radius: var(--radius);
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin: auto;
}
.user-card {
	width: fit-content;
	display: flex;
	background-color: rgb(245, 241, 243);
	border-radius: var(--radius) var(--radius) 0 0;
	padding: 2em;
	margin: auto;
}
#user-card-info {
	display: flex;
	flex-direction: column;
	justify-content: start;
}
#user-card-info h2 {
	text-align: left;
	margin: 0;
	color: var(--secundarioOscuro);
	font-size: 1.5em;
}
.user-card img {
	border-radius: 100%;
	height: 10em;
	width: 100%;
	box-shadow: var(--shadow);
	margin-right: 3em;
	translate: 0px 1em;
	/* z-index: 0; */
}

#logout-button {
	background-color: rgb(206, 100, 100);
	color: rgb(83, 5, 5);
	border-radius: 0 0 var(--radius) var(--radius);
    width: 100%;
    box-shadow: none;
}
#logout-button:hover {
	background-color: rgb(160, 17, 17) !important;
	color: white;
}

/* ======== Modify User Data ======== */
#user-card-info .modify-button {
	border-radius: var(--radius);
	margin-top: 0.6em;
	box-shadow: var(--shadow);
}
.register-button {
	margin: auto;
	width: 100%;
	box-shadow: none;
}

.table-user-section {
	width: auto !important;
}
.section-for-user {
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	margin: 1em auto;
	width: 70%;
	background-color: rgb(245, 241, 243);
    padding-bottom: 0.2em;
}
.section-title {
	width: 100%;
    border-radius: var(--radius) var(--radius) 0 0;
    box-shadow: none;
}
.section-for-user table {
	font-size: 1.3em;
}

/* Role Options */
#role-options {
	display: none;
	opacity: 0;
	transition: all ease 1s;
}
#role-options.show {
	display: block;
	opacity: 1;
}

/* Users */
.pop-up select {
	padding: 1em;
	width: 20em;
	border-radius: var(--radius);
	font-family: var(--funtePrincipal);
}
.user-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.user-buttons .delete-button {
	border-radius: var(--radius) 0 0 var(--radius);
	font-size: 1em;
}
.user-buttons .modify-button {
	border-radius: 0 var(--radius) var(--radius) 0;
	font-size: 1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.table-user-section {
	width: 60%;
	margin: 0.5em auto;
	font-size: 1.5em;
	border: 1px solid black;
	border-radius: var(--radius);
	background-color: var(--secundarioOscuro);
}
.table-user-section td,
th {
	padding: 0.2em 1em;
	color: white;
}
.table-user-sectionrid tr {
	border: 2px solid black;
}

.gray-button {
    background-color: var(--gris);
	color: var(--secundarioOscuro);
	border-radius: 0;
	box-shadow: none;
	font-family: var(--fuentePrincipal);
	cursor: pointer;
	padding: 10px 20px;
	text-align: center;
	transition: 0.5s;
	border-color: transparent;
    width: 100%;
	font-weight: 400;
    font-size: 1.2em;
}
.gray-button:hover {
	background-color: var(--grisOscuro) !important;
}
@media (max-width: 768px) {
	.gray-button {
		font-size: 0.8em;
		width: auto;
		min-height: 3em;
	}
}

#disable-user-form {
	margin-top: 0.5em !important;
	box-shadow: none !important;
}

#my-turns-table .delete-button { 
	border-radius: 0;
	font-size: 1em;
	padding: 0.2em;
}	

#table-turns, #table-instructors{
	display: flex; 
	justify-content: space-evenly;
	padding: 0em 1em;
	overflow-x: scroll;
	white-space: nowrap;
	gap: 1em;
}
#table-turns p, #table-instructors p {
	padding-bottom: 0.2em;
	font-size: 1.5em;
	font-weight: 400;
}

.table-header-title {
	border-bottom: 1px dashed var(--secundarioOscuro);
}

#hour-box {
	border-bottom: 1px dashed var(--secundarioOscuro);
	color: var(--secundarioOscuro);
	font-size: 1.2em;
	margin-right: 1em;
}

#turn-box, #instructor-turn-box{
	background-color: var(--secundarioOscuro); 
	color: white;
	padding: 0.3em;
	border-radius: var(--radius);
	white-space: pre;
}

#instructor-box {
	background-color: rgb(76, 9, 114); 
	color: white;
	padding: 0.3em;
	border-radius: var(--radius);
}

#date-selection-all-turns-div, #date-selection-all-instructors-div {
	display: flex;
	justify-content: center;
	background-color: var(--gris);
	padding: 0.5em;
}
#date-selection-all-turns-div .boton-sec-oscuro, #date-selection-all-instructors-div .boton-sec-oscuro{
	width: 10em;
	margin: auto 1em;
	box-shadow: none;
}
#all-turns-date-input, #all-instructors-date-input{
	padding: 1em;
	width: 20%;
}

#instrcutor-div {
	display: flex;
	gap: 1em;
}
