.airplanes {
  align-items: center;
  background-color: rgba(0, 0, 0, .3);
  background-image: url("/TP2/assets/nubes.jpg");
  background-size: auto;
  background-attachment:fixed;
  background-position: center;
  background-blend-mode: soft-light;
  padding-bottom: 1em;
  padding-top: 6em;
}
.airplane-card {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 2px 8px #000;
  transition: ease-in 0.4s;
  margin-left: 10em;
  margin-right: 10em;
  margin-bottom: 2em;
}
.airplane-card img {
  padding: 1em;
  border-radius: 2em;
  border-bottom-color: #000;
  border-bottom-width: 3px;
  width: 100%;
}
.airplane-card h2 {
  text-align: center;
  font-size: 3em;
  color: var(--secundarioOscuro);
}
.airplane-card:hover {
  box-shadow: 0 5px 20px #000;
}
.airplane-info {
  align-items: center;
  margin-top: 1em;
  padding: 2em;
  margin: auto;
  width: 50%;
}
.airplane-info h2,
h3 {
  padding: 0;
  margin: 0;
}
.airplane-info hr {
  margin: 0;
  margin-bottom: 1em;
  height: 10px;
  background-color: var(--secundarioOscuro);
}
.airplane-info p{
  text-align: center;
  font-size: 1em;
}
.airplane-info h3{
  font-size: 1.5em;
}
.section-title {
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 7px;
  margin-bottom: 0.5em;
}
.airplane-card.inverted {
  flex-direction: row-reverse;
}
@media (max-width: 1800px){
  .airplane-card img{
    max-width: 760px;
  }
}
@media (max-width: 1280px) {
  .airplane-card {
    margin-left: 5em;
    margin-right: 5em;
    flex-direction: column !important;
  }
  .airplane-info {
    padding-top: 0;
    width: 100%;
  }
  .airplane-card img{
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .airplanes{
    padding-top: 4em !important;
  }
  .airplane-card {
    margin-left: 1em;
    margin-right: 1em;
    flex-direction: column !important;
  }
  .airplane-info {
    width: 100%;
    padding-top: 0;
  }
  .airplane-card img{
    max-width: 100%;
  }
  .section-title{
    font-size: 3em;
    margin-left: 1em;
    margin-right: 1em;
  }
}