.section-title{
    margin: 0.4em;
    width: 80%;
}
.title{
    font-size: 3em;
    margin: 0;
    background-color: var(--grisClaro);
    color: var(--secundarioOscuro);
}
.news {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}

.boton-sec-oscuro{
    width: 50%;
}
h3.id{
    background-color: var(--secundarioOscuro);
    color: white;
    border-radius: var(--radius) var(--radius) 0 0;
    margin: 0;
}
.delete-button{
    background-color: rgb(206, 100, 100);
    color: rgb(83, 5, 5);
    font-family: var(--funtePrincipal);
    font-size: 1.5em;
    margin: 0;
    cursor: pointer;
    text-align: center;
    border-color: transparent;
    width: 100%;
    border-radius: 0 0 var(--radius) var(--radius);
}
.delete-button:hover{
    background-color: rgb(160, 17, 17);
    color:white;
}
.modify-button{
    background-color: rgb(255, 204, 95);
    color: rgb(121, 85, 8);
    font-family: var(--funtePrincipal);
    font-size: 1.5em;
    margin: 0;
    cursor: pointer;
    text-align: center;
    width: 100%;
    border-radius: 0;
    border-color: transparent;
}
.modify-button:hover{
    background-color: rgb(255, 174, 0);
    color:white;
}
.container-pop-up{
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
    background-color: rgba(206, 206, 206, 0.8);
}
.pop-up{
    position: relative;
    top: 20%;
    left: 35%;
    width: 30%;
    height: 48%;
}
.container-pop-up:target{
    visibility: visible;
    opacity: 1;
}
.close-button{
    padding: 0 0.6em 0 0.6em;
    color: black;
    font-size: 1.8em;
    background-color: white;
    border-radius: var(--radius);
    position: absolute;
    right: 0%;
    top: -30px;
}
.close-button:hover{
    background-color: rgb(255, 98, 98);
}
.news-card img{
    border-radius: 0;
}

.news form{
    margin: 1em;
    background-color: var(--secundarioOscuro);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}
.news fieldset{
    border-width: 0;
}
.news form legend {
    color: white;
    font-size: 1.3em;
}
.submit-button .boton-sec-oscuro{
    width: 100%;
    background-color: white;
    color: var(--secundarioOscuro);
    margin: 0.1em;
}



.airplanes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.airplane-card {
    flex-direction: column;
    margin: 1em;
    justify-content: center;
}

.airplane-card img {
    width: 20%;
    height: 20%;
}

.airplane-card h2 {
    font-size: 2em;
}

.airplane-info {
    width: auto;
    margin: 0;
    font-size: 0.7em;
}