/*  =============  Sign  =============  */
.sign-form {
	display: flex;
	justify-content: center;
	margin: auto;
	width: auto;
}
.sign-form fieldset{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1em;
	gap: 1em;
	width: 100%;
}
.sign-form input{
	border-radius: var(--radius);
	padding: 1em;
	font-family: var(--fuentePrincipal);
	box-shadow: 0 1px 2px #000;
	border: none;
}
.sign-form label{
	font-size: 1.3em;
}
.sign-form .field{
	display: flex;
	flex-direction: column;
	color: white;
}
.sign-form .submit-button .boton-sec-oscuro{
	font-size: 1em;
}
.submit-button{
	margin-top: 1em;
}
#sign-logo{
	border-radius: 100%;
	height: 100%;
	width: 10em;
	box-shadow: var(--shadow);
	translate: 0px -2em;
	transform: scale(1.2);
	z-index: 0;
}
#sign-form-signup {
	border-radius: var(--radius) 0 0 var(--radius) !important;
}
#sign-form-signin {
	border-radius: 0 var(--radius) var(--radius) 0 !important;
}
.data-input{
	padding-top: 5em;
}

#sign-card{
	display: flex;
	flex-direction: row;
	box-shadow: var(--shadow);
	border-radius: var(--radius);
}
#sign-card form{
	margin: 0;
	box-shadow:none;
	border-radius: 0;
	padding: 3em 5em;
	width: 35em;
	height: 35em;
}

#sign-cover{
	transition: ease-in-out 0.2s;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	height: 35em;
	width: 35em;
	z-index: 2;
	border-radius: var(--radius);
}
#sign-cover h2{
	position: absolute;
	z-index: 2;
	width: 50%;
	translate: 4.5em 14em;
	color: var(--secundarioOscuro);
	background-color: white;
	border-radius: var(--radius);
}
#sign-cover:hover > h2{
	color: #000;
	background-color: vaR(--grisClaro);
}
#sign-cover img{
	object-fit: cover;
	width: 35em;
	height: 35em;
	transition: ease 0.1s;
	border-radius: var(--radius);
}
#sign-cover img:hover { 
	transform: scale(1.4);
	filter: grayscale(0.7);
}